fastapi
uvicorn
httpx
feedparser
pydantic[email]
pydantic-settings
python-json-logger
python-dotenv
openai
google-genai
qdrant-client
redis[hiredis]
psycopg[binary]
psycopg2-binary
SQLAlchemy
alembic

# Testing
pytest
pytest-asyncio
